*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --start-sort-color:rgb(79, 79, 255);
  --text-color:aliceblue;
  --text-color-dark:#333;
  --tre:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --bar-color:rgb(11, 149, 11);
  --bar-finish-sort:rgb(0, 235, 0);
}
html,body,#root,.App{height: 100%;background-color: aliceblue;}
.App{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
.start-btn-conatiner{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-sort{
  border: none;
  background-color: var(--start-sort-color);
  color: var(--text-color);
  font-family: var(--tre);
  height: 80%;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5ch;
  border-radius: 0.5rem;
  cursor: pointer;
}
.sorting-container{
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
  justify-content: space-between;
}
.sorting-container-ind{
  width: 80%;
  font-family: var(--tre);
  color: var(--text-color-dark);
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: center;
}
.sorting-container-ind h2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}
ul{
  width: 50%;
  min-width: max-content;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  height: calc(100% - 2.5rem);
  padding-bottom: 0.5rem;

}
.center{
  display: flex;
  justify-content: center;
  
}


